* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formula,
#display {
  width: 400px;
  height: 50px;
  padding: auto;
  font-size: 30px;
}

#key-wrapper {
  width: 400px;
  height: 430px;
}

button {
  width: 80px;
  height: 80px;
  font-size: 40px;
  margin: 2px;
}
